@media only screen and (max-width: 959px) {
	* { transition: none !important; }
	}
	
@media print {
	.mask TR.selected {
		background: #585041 !important;
		color: #FFF !important;
		}
	* {
		background-color: #fff !important;
		color: #000 !important;
		}
	.top,
	.mancheForm,
	.harmonieForm,
	.lang,
	.layout label {
		display:none !important;
		}
	.interval .selected {
		border: 2px solid #000 !important;
		}
	}

BODY {
	font: normal 1em Verdana;
	background: #222;
	color: #FFF;
	}
HTML, BODY {
	width: 944px;
	margin: 0 auto;
	}
TD {
	font-family: Verdana;
	text-align: right;
	}

/* Lang */
.lang {
	float: right;
	filter: sepia(1);
	}
.lang label {
	border: 1px solid #fff;
	font: normal 10px Verdana;
	border-radius: 4px;
	height: 20px;
	width: 20px;
	margin: 2px;
	}
.lang input {
	display: none;
	}
.lang input:checked + label {
	background:#fff;
	color:#000;
	}
	
/* L10n */
code {
	animation-duration: 2s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
	color:red; 
	}
@keyframes clignoter {
	0%	{ color:red; }
	50%	{ color:orange; }
	100%	{ color:red; }
	}

/* LOGO et checkbox réglage manche */
#eHead {
	margin:.25em;
	}
#eHead IMG {
	float: left;
	margin: 7px 1em 7px 1em;
	height: 30px;
	width: 30px;
	}
#eHead H1 {
	color: #FFF;
	font: normal 1.5em Verdana;
	line-height: 45px;
	letter-spacing: 5px;
	float: left;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 3px rgba(255,255,255,50%);
 	}
