@media only screen and (max-width: 959px) {
	* { transition: none !important; }
	}

@media print {
	.mask TR.selected {
		background: #585041 !important;
		color: #FFF !important;
		}
	* {
		background-color: #fff !important;
		color: #000 !important;
		}
	.top,
	.mancheForm,
	.harmonieForm,
	.lang,
	.layout label {
		display:none !important;
		}
	.interval .selected {
		border: 2px solid #000 !important;
		}
	}

BODY {
	font: normal 1em Verdana;
	background: #222;
	color: #FFF;
	}
HTML, BODY {
	scroll-behavior: smooth;
	max-width: 944px;
	width: 100%;
	margin: 0 auto;
	}
TD {
	font-family: Verdana;
	text-align: right;
	}
LABEL:hover {
	text-shadow: 0 0 .5em #FFF;
	}

/* Fx comme son nom l'indique pa'effet css */
.nofx { scroll-behavior: auto; }
.nofx * { transition: none !important; }

/* LOGO et checkbox réglage manche */
#eHead {
	margin:.25em;
	}
#eHead IMG {
	float: left;
	margin: 7px 1em 7px 1em;
	height: 30px;
	width: 30px;
	}
#eHead H1 {
	color: #FFF;
	font: normal 1.5em Verdana;
	line-height: 45px;
	letter-spacing: 5px;
	float: left;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 3px rgba(255,255,255,50%);
 	}

/* Lang */
.lang {
	float: right;
	filter: sepia(1);
	opacity:.75;
	}
.lang label {
	border: 1px solid #fff;
	font: normal 10px Verdana;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
	}
.lang input {
	display: none;
	}
.lang input:checked + label {
	background:#fff;
	color:#000;
	}


#eTitle {
	float: left;
	margin: 0 0 0 1em;
	height: 1.8em;
	line-height: 1.8em;
	}

/* TabMenu */
.layout {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow: hidden;
	margin: 0 0 1em;
	}
.layout .page {
	grid-row: 2;
	grid-column: 1 / span 4;
	display: none;
	opacity: 0;
	}
.layout .nav {
	background: #3A1912;
	color: #FFF;
	filter: sepia(1) opacity(.75);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-bottom: 4px solid #FFF;
	border-radius: 20px 20px 0 0;
	transition: background 0.4s;
	}
.layout input[type=radio] {
	display: none;
	}
.layout input[type=radio] + .page {
	transition: background 1s;
	}
.layout input[type=radio]:checked + .page {
	transition: background 1s;
	display: block;
	opacity: 1;
	}
.layout input[type=radio]:checked + .page + label.nav {
	background: #ecf0f1;
	color: #000;
	}

/* Top Button */
.top {
	filter: sepia(1);
	color: #FFF;
	border-radius:15px;
	text-decoration: none;
	line-height: 27px;
	text-align: center;
	position: fixed;
	right: 20px;
	bottom: 20px;
	height:30px;
	width:30px;
	transition: all .5s;
	}
.top:hover {
	color: #000;
	background: #FFF;
	}

/* Foot */
footer {
	text-align: center;
	letter-spacing: 2px;
	font-size: .6em;
	margin: 2em;
	}

footer A,
footer a:visited {
	color: #FFF;
	}

/* L10n */
code {
	animation-duration: 2s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
	color:red; 
	}
@keyframes clignoter {
	0%	{ color:red; }
	50%	{ color:orange; }
	100%	{ color:red; }
	}

/* layout */
.interval { float: left; }
.harmonieForm { float: right; }
.layout { clear: both; }