.fx * { transition: none !important; }

/* Manche */
.eGuitar {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	display: inline-block;
	overflow: hidden;
	padding: 30px 1px 30px 1px;
	position: relative;
	transition:padding 200ms;
	height: 180px; /* Changé dynamiquement */
	}

.manche {
	border: 0 solid #333;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	position: absolute;
	top: 30px;
	white-space: nowrap;
	width: 910px;
	height: inherit;
	transition:top 200ms;
	z-index: 2;
	/* height: 210px;  */
	}
.manche SPAN {
	}

.hideFretsNumber {
	padding-bottom: 1px;
	}
.hideForm {
	padding-top: 1px;
	}
.hideForm .manche {
	top: 1px;
	}

/* Menu Haut */
.mancheForm {
	box-sizing: border-box;
	font: normal 0.8em Verdana;
	margin: 0;
	position: absolute;
	padding: 4px 0 4px 8px;
	top: 0px;
	left: 0;
	width: 100%;
 	height: 30px;
	z-index: 1;
	/* line-height: 30px; */
	}
.mancheForm LI {
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	}
.mancheForm LI LABEL,
.mancheForm LI INPUT,
.mancheForm LI SELECT {
	vertical-align: middle;
	}
.mancheForm .range { width: 50px; }
.mancheForm .scale { width: 200px; }

/* Menu  */
.menu {
	filter: sepia(1);
	float: right;
	margin: 0;
	padding: 0;
	}
.menu LI {
	display: inline-block;
	float: right;
	height: 20px;
	width: 20px;
	margin: 0 5px 5px ! important;
	padding: 0;
	}
.menu LI INPUT {
	display: none;
	}
.menu LI LABEL {
	background-image: url(../sprites/menu.png);
	background-color:rgba(255,255,255,.5);
	border-radius: 5px;
	cursor: hand !important;
	display: block;
	height: 20px;
	width: 20px;
	overflow: hidden;
	transition:all 200ms;
	}
.menu LI INPUT:checked + LABEL {
	box-shadow: inset 0 0 10px #FFF, inset 0 0 4px #FFF;
	}
.menu .config LABEL { background-position: -5px -5px; }
.menu .lefthanded LABEL { background-position: -35px -5px; }
.menu .notes LABEL { background-position: -65px -5px; }
.menu .numbers LABEL { background-position: -95px -5px; }
.menu .octaves LABEL { background-position: -125px -5px; }
.menu .bemol LABEL { background-position: -155px -5px; }
.menu .sound LABEL { background-position: -185px -5px; }
.menu .hFlip LABEL { background-position: -215px -5px; }
.menu .vFlip LABEL { background-position: -245px -5px; }
.menu .abcdefg LABEL { background-position: -275px -5px; }
.menu .fx LABEL { background-position: -305px -5px; }

/* cases du manche */
.case {
	background: #000 url(../sprites/default.png) repeat-y -270px 0;
	display: inline-block;
	height: inherit;
	position: relative;
	width: 70px;
	}
.case0 {
	background: #000 url(../sprites/default.png) repeat-y -190px 0;
	display: inline-block;
	height: inherit;
	position: relative;
	width: 70px;
	}

/* notes du manche */
.case .corde SPAN {
	background: #eee;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 1em rgba(0,0,0,.5), 0 0 .25em #FFF;
	cursor: pointer;
	display: block;
	font: normal 14px Verdana;
	line-height: 23px; 
	height: 25px; 
	overflow: hidden;
	width: 55px;
	opacity:0.1;
	position: absolute;
	left: 7px;
	text-align: center;
	text-shadow: 0 0 2px #000;
	top: 2px;
	z-index: 2;
	transition:width 200ms, left 200ms, margin 200ms, border 200ms, line-height 200ms;
	}
.case .corde SPAN:hover {
	border-color: #FFF;
	box-shadow: 0 0 1em #000, 0 0 1em #FFF, inset 0 0 .2em #FFF;
	}
.case .corde SPAN SUP {
	position: absolute;
	}
.hideNotes .corde SPAN {
	border: 4px solid #000;
	border-radius: 12px;
	box-sizing: border-box;
	margin-left: 18px;
	overflow: hidden;
	display: block;
	width: 25px;
	text-align: left;
	text-indent:-100em;
}

/* cordes */
.corde {
	background-image: url(../sprites/default.png);
	background-position: -350px -150px;
	background-repeat: no-repeat;
	height: 30px;
	width: 70px;
	float: left;
	z-index: 3;
	position: relative;
	}
.corde1 { background-position: -350px 0px; }
.corde2 { background-position: -350px -30px; }
.corde3 { background-position: -350px -60px; }
.corde4 { background-position: -350px -90px; }
.corde5 { background-position: -350px -120px; }
.corde6 { background-position: -350px -150px; }

/* frettes + numéros des cases */
.frette {
	cursor: default;
	filter: sepia(1);
	background: url(../sprites/default.png) repeat-y -10px 0;
	height: inherit;
	left: 65px;
	position: absolute;
	top:0px;
	width: 10px;
	z-index: 2;
	}
.frette SPAN {
	border-radius: 1em;
	box-shadow: 0 0 3px #888;
	font: normal 1.1em 'Times New Roman';
	height: 26px;
	line-height: 26px;
	left: -65px;
	margin: 2px;
	overflow: hidden;
	opacity: .6;
	position: absolute;
	text-align: center;
	transition:opacity 500ms;
	bottom: -30px;
	width: 66px;
	z-index: 0;
	}
.hideFretsNumber .frette SPAN {
	opacity: 0;
	}

/* incrustations */
.case3 .incrustation,
.case5 .incrustation,
.case7 .incrustation,
.case9 .incrustation,
.case15 .incrustation,
.case17 .incrustation,
.case19 .incrustation,
.case21 .incrustation {
	background: url(../sprites/default.png) no-repeat -30px center;
	height: inherit;
	width: 70px;
	}
.case12 .incrustation ,
.case24 .incrustation {
	background: url(../sprites/default.png) no-repeat -110px center;
	height: inherit;
	width: 70px;
	}

/* Octaves */
.octaves .octave6 { border-width: 1px 9px !important; }
.octaves .octave5 { border-width: 1px 7px !important; }
.octaves .octave4 { border-width: 1px 5px !important; }
.octaves .octave3 { border-width: 1px 3px !important; }
.octaves .octave2 { border-width: 1px 1px !important; }
.octaves .octave1 { border-width: 0px !important; }

/* Tons */
.ton12,
.ton0	{ background: #F00 !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton1	{ background: #F90 !important; opacity:1 !important; color:#009 !important; text-shadow: none !important; }
.ton2	{ background: #FF0 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton3	{ background: #9F0 !important; opacity:1 !important; color:#009 !important; text-shadow: none !important; }
.ton4	{ background: #0F0 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton5	{ background: #0F9 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton6	{ background: #0FF !important; opacity:1 !important; color:#330 !important; text-shadow: none !important; }
.ton7	{ background: #09F !important; opacity:1 !important; color:#FF6 !important; text-shadow: none !important; }
.ton8	{ background: #00F !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton9	{ background: #90F !important; opacity:1 !important; color:#FF6 !important; text-shadow: none !important; }
.ton10	{ background: #F0F !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton11	{ background: #F09 !important; opacity:1 !important; color:#FF0 !important; text-shadow: none !important; }

/* Configuration */
.default  {
	transform: scaleX(1) scaleY(1);
	}
.gaucher .manche,
.gaucher .case DIV SPAN {
	transform: scaleX(-1);
	right: 30px;
	}
.droitier_flipped  .manche,
.droitier_flipped .case DIV SPAN{
	transform: scaleY(-1);
	}
.droitier_flipped .frette SPAN {
	top: -30px;
	}
.gaucher_flipped  .manche,
.gaucher_flipped .case DIV SPAN {
	transform: scaleX(-1) scaleY(-1);
	right: 30px;
	}
.gaucher_flipped .frette SPAN {
	top: -30px;
	}

/* Harmonie Form */
.harmonieForm {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	display: inline-block;
	margin: .5em;
	padding: .25em;
	width: 368px;
	height: 93px;
	}
.harmonieForm TD {
	text-align: left;
	}
.harmonieForm TH LABEL {
	font: normal .8em Verdana;
	letter-spacing: 2px;
	}

/* Tableau d'accords */
.suggestion {
	font-size:.8em;
	box-sizing: border-box;
	cursor: default;
	margin: .5em 0;
	padding: .25em;
	width: 100%;
	}
.suggestion H2 {
	background: #3A1912;
	color: #fff;
	filter: sepia(1);
	border-radius: 10px;
	box-shadow: 0 0 2px #000, inset 0 0 2px #000;
	cursor: hand; cursor: pointer;
	text-align: left;
	padding: .25em 1em;
	margin: 5px 0 10px;
	line-height: 1.2em;
	transition: filter,border-color 200ms ease;
	display:flex;
	}
.suggestion H2 LABEL {
	font-size:10px;
	border: 1px solid #ecf0f1;
	background: #000;
	color: #ecf0f1;
	vertical-align: center;
	padding: 0 2px;
	}
.suggestion H2 input[type=checkbox] {
	visibility:hidden;
	}
.suggestion H2 input[type=checkbox] + input {
	display:none;
	}
.suggestion H2 input[type=checkbox]:checked + input {
	display:inline;
	}
.suggestion H2:hover {
	filter: sepia(1);
	color: #3A1912;
	background: #FFF;
	box-shadow: 0 0 2px #ddd, inset 0 0 .5em #FFF;
	}
.suggestion TH {
	cursor: pointer;
	width:40px;
	padding: 1em;
	}
.suggestion TH.chordNames {
	width: 150px;
	}
.suggestion TH LABEL {
	padding: 0 .5em;
	cursor: hand; cursor: pointer;
	}
.suggestion TD {
	text-align: center;
	}
.suggestion DIV {
	background: yellow;
	border: 2px solid #000;
	border-radius: .5em;
	cursor: hand; cursor: pointer;
	line-height: 1.4em;
	padding: 0 .5em;
	transition: box-shadow 200ms ease;
	z-index: 1;
	position: relative;
	}
.suggestion B {} /* note */
.suggestion I {} /* accord */
.suggestion DIV:hover {
	border: 2px solid #FFF;
	box-shadow: 0 0 1em rgba(0,0,0,.5), 0 0 1em #FFF;
	z-index: 2;
	}

/* Intervalles */
UL.interval {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	list-style-type: none;
	margin: .5em;
	padding: .5em .25em .5em .5em;
	display: inline-block;
	}
.interval * {
	margin: 0;
	padding: 0;
	text-align: center;
	}
.interval LI {
	border: 2px solid #000;
	border-radius: .5em !important;
	box-shadow: inset 0 0 .25em rgba(0,0,0,.5);
	cursor: hand; cursor: pointer;
	color: #CCC;
	float: left;
	margin: 0 0.25em 0 0;
	padding: 0 0 0.25em 0;
	font-family: Verdana;
	line-height: 1em;
	filter: sepia(1) opacity(.5);
	transition: filter,border-color 200ms ease;
/* 	text-shadow: 0 0 0.2em #FFF, 0 0 .25em #FFF; */
	}
.interval LI:hover {
	border: 2px solid #FFF;
	box-shadow: 0 0 1em rgba(0,0,0,.5), inset 0 0 .5em #FFF, 0 0 2em #FFF;
	}
.interval .selected {
	border: 2px solid #FFF;
	filter: none;
	opacity: 1;
	}
.interval .selected:hover {
	box-shadow: inset 0 0 .5em #FFF, 0 0 1em #FFF;
	}
.interval DIV {
	height: 2.2em;
	line-height: 2em;
	width: 2.25em;
	}
.interval DT {
	font-size: 0.75em;
	font-style: italic;
	}
.interval DD {
	color: inherit;
	font-size: 0.5em;
	}

/* Scales & Arpeggio */
.mask {
	font-size:.8em;
	clear: both;
	list-style-type: none;
	margin:0;
	padding:0;
	width: 100%;
	}
.mask THEAD {
	filter: sepia(1);
	}
.mask TR {
	cursor: pointer;
	height:22px;
	line-height:22px;
	border-radius: 11px;
	vertical-align: top;
	margin:2px;
	}
.mask TR.selected {
	background: #585041;
	}
.mask TBODY TR:hover {
	background: #FFF;
	color: #000;
	}
.mask TD {
	line-height:20px;
	height:20px;
	width:40px;
	border-radius: 10px;
	text-align: center;
	}
.mask TD.none {
	filter: sepia(1);
	background: rgba(125,125,125,.5);
	}
.mask TD.name {
	padding-left: 20px;
	width: auto;
	text-align: left;
	}
.mask SMALL {
	filter: sepia(1);
	background: #444;
	border: 1px solid #AAA;
	border-radius: 5px;
	color: #AAA;
	padding:0 4px;
	}

/* TabMenu */
.layout {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow: hidden;
	margin: 0 0 1em;
	}
.layout .page {
	grid-row: 2;
	grid-column: 1 / span 4;
	display: none;
	opacity: 0;
	}
.layout .nav {
	background: #3A1912;
	color: #FFF;
	filter: sepia(1) opacity(.75);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-bottom: 4px solid #FFF;
	border-radius: 20px 20px 0 0;
	transition: background 0.4s;
	}
.layout input[type=radio] {
	display: none;
	}
.layout input[type=radio] + .page {
	transition: background 1s;
	}
.layout input[type=radio]:checked + .page {
	transition: background 1s;
	display: block;
	opacity: 1;
	}
.layout input[type=radio]:checked + .page + label.nav {
	background: #ecf0f1;
	color: #000;
	}

/* Tunings list */
.tunings {
	font-size: 0.8em;
	}
.tunings DT {
	filter: sepia(1);
	font-weight: bold;
	padding-left: 33%;
	margin: .5em 0;
	}
.tunings DD {
	border-radius: 10px;
	}
.tunings DD.selected {
	background: #585041;
	}
.tunings DD:hover {
	background: #FFF;
	color: #000;
	}
.tunings DD SPAN.name {
	filter: sepia(1);
	display: inline-block;
	padding-right: 20px;
	text-align: right;
	box-sizing: border-box;
	width: 33%;
	}
.tunings DD B {
	font-weight: normal;
	filter: sepia(1);
	border: 1px solid #999;
	border-radius: 10px;
	display: inline-block;
	padding: 0 4px;
	margin: 2px;
	}
