@media only screen and (max-width: 959px) {
	* {
		transition: none !important;
		}
	}

BODY {
	font: normal 1em Verdana;
	background: #222;
	color: #FFF;
	}
HTML, BODY {
	width: 944px;
	margin: 0 auto;
	}
TD {
	font-family: Verdana;
	text-align: right;
	}

/* LOGO et checkbox réglage manche */
#eHead {
	margin:.25em;
	}
#eHead IMG {
	float: left;
	margin: 7px 1em 7px 1em;
	height: 30px;
	width: 30px;
	}
#eHead H1 {
	color: #FFF;
	font: normal 1.5em Verdana;
	line-height: 45px;
	letter-spacing: 5px;
	float: left;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 3px rgba(255,255,255,50%);
 	}

#eHead UL {
	float: right;
	list-style-type: none;
	margin: 0 1em 0 0; padding: 0;
	}
#eHead UL LI {
	float: left;
	margin: 0; padding: 0;
	}
#eHead UL LI A {
	background: #eee;
	color: #000;
	text-decoration: none;
	border-radius: .5em;
	height: 30px;
	line-height: 30px;
	display: block;
	margin: 0 .25em;
	padding: 0 1em;
	}
#eHead UL LI A:hover {
	background: #000;
	box-shadow: 0 0 1em #ccc;
	color: #fff;
	}

/* L10n */
code {
	animation-duration: 2s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
	color:red; 
	}
@keyframes clignoter {
	0%	{ color:red; }
	50%	{ color:orange; }
	100%	{ color:red; }
	}

/* Manche */
.eGuitar {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	display: inline-block;
	overflow: hidden;
	padding: 30px 1px 30px 1px;
	position: relative;
	transition:padding 200ms;
	height: 180px; /* Changé dynamiquement */
	}

.manche {
	border: 0 solid #333;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	position: absolute;
	top: 30px;
	white-space: nowrap;
	width: 910px;
	height: inherit;
	transition:top 200ms;
	z-index: 2;
	/* height: 210px;  */
	}
.manche SPAN {
	}

.hideFretsNumber {
	padding-bottom: 1px;
	}
.hideForm {
	padding-top: 1px;
	}
.hideForm .manche {
	top: 1px;
	}

/* Menu Haut */
.mancheForm {
	box-sizing: border-box;
	font: normal 0.8em Verdana;
	margin: 0;
	position: absolute;
	padding: 4px 8px;
	top: 0px;
	left: 0;
	width: 100%;
 	height: 30px;
	z-index: 1;
	/* line-height: 30px; */
	}
.mancheForm LI {
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	}
.mancheForm LI LABEL,
.mancheForm LI INPUT,
.mancheForm LI SELECT {
	vertical-align: middle;
	}
.range {
	width: 50px;
	}

/* Menu droit */
.mancheMenu {
	top: 30px;
	right: 0;
	margin: 0;
	padding: 0;
	height: 120px;
	width: 30px;
	position: absolute;
	z-index: 10;
	transition: all 200ms;
	}
.hideForm .mancheMenu {
	top: 0;
	}
.mancheMenu LI {
	display: inline-block;
	float:right;
	height: 20px;
	width: 20px;
	margin: 5px;
	padding: 0;
	}
.mancheMenu LABEL {
	cursor: hand;
	}
.mancheMenu LI INPUT:checked + LABEL {
	box-shadow: inset 0 0 10px #FFF, inset 0 0 4px #FFF;
	}
.mancheMenu LI INPUT {
	display: none;
	}
.mancheMenu LI LABEL {
	background-color:rgba(255,255,255,.5);
	border-radius: 5px;
	cursor: hand;
	display: block;
	height: 20px;
	width: 20px;
	overflow: hidden;
	transition:all 200ms;
	}
.reglage LABEL { background: url(../sprites/gear.png) -5px -5px; }
.sound LABEL { background: url(../sprites/sound.png) -5px -5px;}
.notes LABEL { background: url(../sprites/notes.png) -5px -5px;}
.numbers LABEL { background: url(../sprites/numbers.png) -5px -5px;}
.lefthanded LABEL { background: url(../sprites/lefthanded.png) -5px -5px;}

.scale {
	width: 200px;
	}

/* cases du manche */
.case {
	background: url(../sprites/default.png) no-repeat -270px -10px;
	display: inline-block;
	height: inherit;
	position: relative;
	width: 70px;
	}
.case0 {
	background: url(../sprites/default.png) no-repeat -190px -10px;
	display: inline-block;
	height: inherit;
	position: relative;
	width: 70px;
	}

/* notes du manche */
.case .corde SPAN {
	background: #eee;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 1em rgba(0,0,0,.5), 0 0 .25em #FFF;
	cursor: pointer;
	display: block;
	font: normal 14px Verdana;
	line-height: 23px; 
	height: 25px; 
	overflow: hidden;
	width: 55px;
	opacity:0.1;
	position: absolute;
	left: 7px;
	text-align: center;
	text-shadow: 0 0 2px #000;
	top: 2px;
	z-index: 2;
	transition:width 200ms, left 200ms, margin 200ms, border 200ms, line-height 200ms;
	}

.case .corde SPAN:hover {
	border-color: #FFF;
	box-shadow: 0 0 1em #000, 0 0 1em #FFF, inset 0 0 .2em #FFF;
	}
.hideNotes .corde SPAN {
	border: 4px solid #000;
	border-radius: 12px;
	box-sizing: border-box;
	margin-left: 18px;
	overflow: hidden;
	display: block;
	width: 25px;
	text-align: left;
	text-indent:-100em;
}

/* cordes */
.corde {
	background-image: url(../sprites/default.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 70px;
	float: left;
	z-index: 3;
	position: relative;
	}
.corde1 { background-position: -350px -10px; }
.corde2 { background-position: -350px -40px; }
.corde3 { background-position: -350px -70px; }
.corde4 { background-position: -350px -100px; }
.corde5 { background-position: -350px -130px; }
.corde6 { background-position: -350px -160px; }

/* frettes + numéros des cases */
.frette {
	background: url(../sprites/default.png) no-repeat -10px -10px;
	height: inherit;
	left: 65px;
	position: absolute;
	top:0px;
	width: 10px;
	z-index: 2;
	}
.frette SPAN {
	border-radius: 1em;
	box-shadow: 0 0 3px #888;
	font: normal 1.1em 'Times New Roman';
	height: 26px;
	line-height: 26px;
	left: -65px;
	margin: 2px;
	overflow: hidden;
	opacity: .5;
	position: absolute;
	text-align: center;
	transition:opacity 500ms;
	bottom: -30px;
	width: 66px;
	z-index: 0;
	}
.hideFretsNumber .frette SPAN {
	opacity: 0;
	}

/* incrustations */
.case3 .incrustation,
.case5 .incrustation,
.case7 .incrustation,
.case9 .incrustation,
.case15 .incrustation,
.case17 .incrustation,
.case19 .incrustation,
.case21 .incrustation {
	background: url(../sprites/default.png) no-repeat -30px -10px;
	height: inherit;
	width: 70px;
	}
.case12 .incrustation ,
.case24 .incrustation {
	background: url(../sprites/default.png) no-repeat -110px -10px;
	height: inherit;
	width: 70px;
	}

/* Octaves */
.octaves .octave8 { border-width: 1px 9px !important; }
.octaves .octave7 { border-width: 1px 7px !important; }
.octaves .octave6 { border-width: 1px 5px !important; }
.octaves .octave5 { border-width: 1px 3px !important; }
.octaves .octave4 { border-width: 1px 1px !important; }
.octaves .octave3 { border-width: 0px !important; }

/* Configuration */
.default  {
	transform: scaleX(1) scaleY(1);
	}
.gaucher .manche,
.gaucher .case DIV SPAN {
	transform: scaleX(-1);
	}
.droitier_flipped  .manche,
.droitier_flipped .case DIV SPAN{
	transform: scaleY(-1);
	}
.droitier_flipped .frette SPAN {
	top: -30px;
	}
.gaucher_flipped  .manche,
.gaucher_flipped .case DIV SPAN {
	transform: scaleX(-1) scaleY(-1);
	}
.gaucher_flipped .frette SPAN {
	top: -30px;
	}
	

/* Position accords */
.position1 {
	box-shadow: inset 0 0 1em lime;
	}
.position2 {
	box-shadow: inset 0 0 1em red;
	}

/* Harmonie Form */
.harmonieForm {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	float: left;
	margin: .5em;
	padding: .25em;
	width: 368px;
	height: 93px;
	}
.harmonieForm TD {
	text-align: left;
	}
.harmonieForm TH LABEL {
	font: normal .8em Verdana;
	letter-spacing: 2px;
	}
	
/* Tableau d'accords */
.suggestion {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	box-sizing: border-box;
	clear: left;
	cursor: default;
	float: left;
	margin: .5em 0;
	padding: .25em;
	position: relative;
	width: 100%;
	}
.suggestion H2 {
	background: #3A1912;
	color: #fff;
	box-shadow: 0 0 2px #000, inset 0 0 2px #000;
	border-radius: .5em .5em 0 0;
	cursor: hand; cursor: pointer;
	text-align: center;
	padding: 0 1em;
	margin: 0;
	line-height: 1.2em;
	transition: filter,border-color 200ms ease;
	}
.suggestion H2:hover,
.suggestion TH:hover {
	background: #000;
	color: #FFF;
	box-shadow: 0 0 2px #ddd, inset 0 0 1em #FFF;
	}
.suggestion TH {
	cursor: pointer; cursor: hand;
	background: #3A1912;
	color: #FFF;
	}
.suggestion TH LABEL {
	padding: 0 .5em;
	cursor: hand; cursor: pointer;
	}
.suggestion TD {
	text-align: center;
	}
.suggestion DIV {
	background: yellow;
	border: 2px solid #000;
	border-radius: .5em;
	font: normal .8em Verdana;
	cursor: hand; cursor: pointer;
	line-height: 1.4em;
	padding: 0 .5em;
	transition: box-shadow 200ms ease;
	z-index: 1;
	position: relative;
	}
.suggestion B {} /* note */
.suggestion I {} /* accord */
.suggestion DIV:hover {
	border: 2px solid #FFF;
	box-shadow: 0 0 1em rgba(0,0,0,.5), 0 0 1em #FFF;
	z-index: 2;
	}

/* Intervalles */
UL.interval {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	list-style-type: none;
	margin: .5em;
	padding: .5em .25em .5em .5em;
	float: left;
	}
.interval * {
	margin: 0;
	padding: 0;
	text-align: center;
	}
.interval LI {
	border: 2px solid #000;
	border-radius: .5em !important;
	box-shadow: inset 0 0 .25em rgba(0,0,0,.5);
	cursor: hand; cursor: pointer;
	color: #CCC;
	float: left;
	margin: 0 0.25em 0 0;
	padding: 0 0 0.25em 0;
	font-family: Verdana;
	line-height: 1em;
	filter: sepia(1) opacity(.5);
	transition: filter,border-color 200ms ease;
/* 	text-shadow: 0 0 0.2em #FFF, 0 0 .25em #FFF; */
	}
.interval LI:hover {
	border: 2px solid #FFF;
	box-shadow: 0 0 1em rgba(0,0,0,.5), inset 0 0 .5em #FFF, 0 0 2em #FFF;
	}
.interval .selected {
	border: 2px solid #FFF;
	filter: none;
	opacity: 1;
	}
.interval .selected:hover {
	box-shadow: inset 0 0 .5em #FFF, 0 0 1em #FFF;
	}
.interval DIV {
	height: 2.2em;
	line-height: 2em;
	width: 2.25em;
	}
.interval DT {
	font-size: 0.75em;
	font-style: italic;
	}
.interval DD {
	color: inherit;
	font-size: 0.5em;
	}

/*  */
.ton12,
.ton0	{ background: #F00 !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton1	{ background: #F90 !important; opacity:1 !important; color:#009 !important; text-shadow: none !important; }
.ton2	{ background: #FF0 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton3	{ background: #9F0 !important; opacity:1 !important; color:#009 !important; text-shadow: none !important; }
.ton4	{ background: #0F0 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton5	{ background: #0F9 !important; opacity:1 !important; color:#000 !important; text-shadow: none !important; }
.ton6	{ background: #0FF !important; opacity:1 !important; color:#330 !important; text-shadow: none !important; }
.ton7	{ background: #09F !important; opacity:1 !important; color:#FF6 !important; text-shadow: none !important; }
.ton8	{ background: #00F !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton9	{ background: #90F !important; opacity:1 !important; color:#FF6 !important; text-shadow: none !important; }
.ton10	{ background: #F0F !important; opacity:1 !important; color:#FFF !important; text-shadow: none !important; }
.ton11	{ background: #F09 !important; opacity:1 !important; color:#FF0 !important; text-shadow: none !important; }

/* Accords */
.chords {
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	float: right;
	margin: .5em 0 0;
	padding: .25em;
	position: relative;
	height: 180px;
	width: 354px;
	}
.chords UL {
	left: 120px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 200px;
	top: 10px;
	}
.chords UL LI {
	display: inline-block;
	}
.chords UL LI.prev {
	float: left;
	}
.chords UL LI.chordName {
	left: 0;
	position: absolute;
	text-align: center;
	width: 200px;
	}
.chords UL LI.next {
	float: right;
	}
.chords TABLE {
	border: 1px solid #000;
	position: absolute;
	left: 120px;
	top: 40px;
	z-index: 1;
	}
.chords TD {
	border: 1px solid #000;
	height: 20px;
	width: 40px;
	}
.chords .caseNumber {
	text-align: center;
	position: absolute;
	left: 120px;
	top: 160px;
	width: 40px;
	}
.chords .dot {
	background: #000;
	border-radius: 10px;
	height: 20px;
	left: 131px;
	top: 31px;
	position: absolute;
	width: 20px;
	z-index: 2;
	}
.chords .barre {
	background: #000;
	border-radius: 10px;
	height: 120px;
	position: absolute;
	width: 20px;
	}